<!-- templates/register.html -->
{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1 class="mt-4">Регистрация</h1>
    <form method="post" action="/register">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">E-mail адрес</label>
            <input type="text" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password_repeat" class="form-label">Повторите пароль</label>
            <input type="password" id="password_repeat" name="password_repeat" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}
