/* dark-theme.css */

/* Общие стили для всего тела */
body {
    background-color: #343a40; /* Темный фон */
    color: #ffffff; /* Белый текст */
}

/* Стили для шапки */
header {
    background-color: #212529; /* Очень темный фон для шапки */
}

/* Стили для ссылок навигации */
.nav-link {
    color: #ffffff; /* Белый цвет для ссылок */
}

/* Стили для переключателя тем */
.theme-switcher .btn {
    background-color: #007bff; /* Синий фон для переключателя тем */
    color: #ffffff; /* Белый текст для переключателя тем */
}

/* Стили для кнопок с белой рамкой */
.btn-outline-light {
    border-color: #ffffff; /* Белая рамка для кнопок */
    color: #ffffff; /* Белый текст для кнопок */
}

/* Стили для кнопок предупреждений */
.btn-warning {
    background-color: #ffc107; /* Желтый фон для кнопок */
    border-color: #ffc107; /* Цвет рамки для кнопок */
}

/* Стили для карточек */
.card {
    position: relative; /* Для позиционирования псевдоэлемента */
    background-color: #495057; /* Темный фон карточек */
    color: #ffffff; /* Белый текст внутри карточек */
    border: 3px solid #c5e2ff; /* Рамка карточек */
    overflow: hidden; /* Скрыть элементы, выходящие за пределы карточки */
}

/* Эффект наведения на карточки */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 90%);
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s; /* Плавный переход */
    pointer-events: none; /* Позволить клики проходить мимо псевдоэлемента */
}

/* Эффект наведения на карточки: показать градиент */
.card:hover::before {
    opacity: 1; /* Показать градиент при наведении */
}

/* Стили для заголовков в карточках */
.card-title {
    color: white; /* Белый текст внутри карточек */
}

/* Стили для отступов с нижним краем */
.mb-4 {
    color: white; /* Белый текст для элемента с классом mb-4 */
}

h1, h4 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
